.container{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    /* overflow-x: hidden; */
}

.sponsor-mega-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.sponsor-mega-box img{
    width: 80vw;
    /* height: 300px; */

}

.sponsor-box{
    width: 23%;
    text-align: center;
}

.sponsor-box img{
    width: 100%;
}