@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    scroll-behavior: smooth;

}

html {
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: #030014;
    color: #fff;
    font-family: Inter V, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    /* overflow-y: hidden; */
    width: 100vw;
    /* height: 100vh; */
}

/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #442962b9 #CCE5E6;
}

/* Chrome, Edge and Safari */
body::-webkit-scrollbar {
    width: 5px;
    width: 5px;
}

body::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #282a7c00;
}

body::-webkit-scrollbar-track:hover {
    background-color: #b8c0c200;
}

body::-webkit-scrollbar-track:active {
    background-color: #80949900;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #533c7989;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #533c7989;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #533c7989;
}


.header {
    padding: 0 20px;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: rgba(3, 0, 20, .08);
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    height: 88px;
}

@media (max-width: 1248px) {
    .header .container-lg {
        padding: 20px 0;
    }
}


@media (max-width: 1248px) {
    .header .container-lg {
        padding: 20px 0;
    }
}

.header .container-lg {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    position: relative;
}

.header-toggle {
    margin-left: 18px;
    padding: 5px;
    cursor: pointer;
    z-index: 90;
}

.header-toggle div {
    width: 20px;
    height: 1.5px;
    background-color: #fff;
    border-radius: 500px;
    transition: all .3s ease-in-out;
}

.header-toggle div:not(:last-child) {
    margin-bottom: 5px;
}

.header-nav {
    /* visibility: hidden;   */
    list-style: none;
    transform: translateX(100%);
    /* width: 00vw; */
    height: 100vh;
    border: 0;
    border-radius: 0;
    display: block;
    left: 0;
    margin: unset;
    padding: 77px 0 0;
    transition: transform .45s ease;
    /* transform: none; */
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgba(3, 0, 20, .9);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    visibility: hidden;
    overflow: hidden;
}

.header-nav-active {
    transform: translate(0%);
    width: 100vw;
    visibility: visible;
}

.header-nav div {
    align-items: center;
    display: flex;
    z-index: 2;
}

.header-nav li {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-nav li::after {
    content: "";
    font-size: 20px;
    display: block;
    width: 80%;
    margin-left: 12px;
    height: 2px;
    border-bottom: 1px solid #9f7ee6;
}

.header-nav a {
    text-decoration: none;
    margin-left: 24px;
    color: whitesmoke;
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.nav-about-us::after {
    content: "About us";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-about-us:hover {
    transform: translateY(-60px);
}

.nav-get-merchandise::after {
    content: "Get Merchandise";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-get-merchandise:hover {
    transform: translateY(-60px);
}

.nav-speakers::after {
    content: "Speakers";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-speakers:hover {
    transform: translateY(-60px);
}

.nav-contact-us::after {
    content: "Contact Us";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-contact-us:hover {
    transform: translateY(-60px);
}

.nav-main-site::after {
    content: "Main Site";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-main-site:hover {
    transform: translateY(-60px);
}

.nav-competitions::after {
    content: "Competitions";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-competitions:hover {
    transform: translateY(-60px);
}

.nav-workshops::after {
    content: "Workshops";
    /* border: 2px solid red; */
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: inherit;
}

.nav-workshops:hover {
    transform: translateY(-60px);
}

.header-toggle-active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.header-toggle-active div:nth-child(2) {
    opacity: 0;
}

.header-toggle-active div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -5px);
}

/* .container-lg {
    max-width: 1296px;
} */

.logo-with-name-logo {
    height: 36px;
}

.button {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: #f4f0ff;
    display: block;
    padding: 8px 16px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: "ss01" on, "cv10" on, "calt" off, "liga" off;
}

.button-primary {
    background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, .32) 100%), rgba(113, 47, 255, .12);
    box-shadow: inset 0 0 12px #bf97ff3d;
    text-decoration: none;
    transition: .2s all cubic-bezier(.6, .6, 0, 1);
}

.button-primary:hover {
    background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, .42) 100%), rgba(113, 47, 255, .24);
    box-shadow: inset 0 0 12px #bf97ff70;
}

.header-actions {
    align-items: center;
    display: flex;
    z-index: 2;
}

.hero {
    padding-top: 173px;
    position: relative;
    height: 1000px;
}

@media screen and (max-width:1250px) {
    .hero {
        max-width: 800px;
        margin: auto;
        height: 800px;
    }
}

.section-header-title-desktop {
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, .7) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: block;
}

.hero-badge {
    --swiper-theme-color: #007aff;
    font-family: Inter V, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    text-align: center;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: inherit;
    text-decoration: none;
    font-feature-settings: "ss01" on, "cv10" on, "calt" off, "liga" off;
    font-size: 14px;
    line-height: 20px;
    isolation: isolate;
    overflow: hidden;
    align-items: center;
    backdrop-filter: blur(6px);
    border-radius: 32px;
    box-shadow: inset 0 -7px 11px #a48fff1f;
    display: flex;
    margin: 0 auto 16px;
    padding: 4px 13px 4px 8px;
    position: relative;
    width: max-content;
    transition: .45s cubic-bezier(.6, .6, 0, 1) box-shadow;
}

.hero-badge:hover {
    background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, .42) 100%), rgba(113, 47, 255, .24);
    box-shadow: inset 0 0 12px #bf97ff70;
}

.hero-badge:after {
    background: linear-gradient(90.01deg, rgba(229, 156, 255, .24) .01%, rgba(186, 156, 255, .24) 50.01%, rgba(156, 178, 255, .24) 100%);
    border-radius: inherit;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    position: absolute;
}

.section-header-title-desktop {
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, .7) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: center;
    font-size: 72px;
    line-height: 80px;
    font-family: AeonikPro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-feature-settings: unset;
    font-weight: 500;
}

@media screen and (max-width:600px) {
    .section-header-title-desktop {
        font-size: 60px;
    }
}

.hero-description {
    color: #efedfdb3;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.hero-content {
    z-index: 9;
    position: relative;
}

.hero-black-hole {
    height: 982px;
    left: 50%;
    /* -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #fff 60.94%, transparent 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #fff 60.94%, transparent 100%); */
    -webkit-mask-size: cover;
    mask-size: cover;
    position: absolute;
    top: 174px;
    transform: translate(-50%);
    width: 1440px;
    overflow: hidden;
}

@media (max-width: 1248px) {
    .hero-black-hole {
        width: 1028px;
        height: 578px;
        top: 138px;
        /* -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #fff 100%, transparent 100%);
        mask-image: radial-gradient(50% 50% at 50% 50%, #fff 100%, transparent 100%); */
    }
}

.lazy-video {
    opacity: 1;
    transition: .75s cubic-bezier(.6, .6, 0, 1) opacity;
    pointer-events: none;
}

.lazy-video video {
    height: auto;
    width: 100%;
    pointer-events: none;
}

.introduction-video {
    margin: 412px auto 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    /* From https://css.glass */
    display: flex;
    justify-content: center;
    align-items: center;

}

video::-webkit-media-controls {
    visibility: hidden;
}

video::-webkit-media-controls-enclosure {
    visibility: visible;
}

@media screen and (max-width:1248px) {
    .introduction-video {
        margin: 296px auto 0;
    }
}

@media screen and (max-width:600px) {
    .introduction-video {
        margin: 297px auto 0;
        left: calc(50% - 160px);
        width: 320px;
    }

    .hero {
        height: 630px;
    }
}

/* .introduction-video:before {
    background: linear-gradient(180deg, rgb(3 0 16 / 25%) 0%, rgb(0 0 0 / 87%) 54.48%, #0e092b 82.36%);
    content: "";
    display: block;
    height: calc(100% + 1px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
} */

.introduction-video-inner {
    box-sizing: border-box;
    margin: 10px;
    /* border: 1px solid white; */
    height: 100%;
    width: 1200px;
    /* background: rgba(226, 174, 238, 0.18); */
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    /* border: 1px solid rgba(226, 174, 238, 0.37); */
    overflow: hidden;
}

.introduction-video-inner video {
    transform: translateY(-160px);
    width: 100%;
    opacity: 0.6;
}

@media screen and (max-width:600px) {
    .introduction-video-inner video {
        transform: translateY(0px);
    }
}


/* about */
.about {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    /* background: url(./images/q-6c12dbae.png);
    background-size: cover;
    background-repeat: no-repeat; */

}

.about img {
    position: absolute;
    top: 0;
    width: 1400px;
    left: calc(50% - 700px);
}

.what-is-esummit h1,
.inquisition-of-infinity h1 {
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    font-weight: bold;
}

.what-is-esummit,
.inquisition-of-infinity {
    color: #efedfdb3;
    margin: 12px auto 0;
    max-width: 600px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.inquisition-of-infinity {
    padding-top: 30px;
}

.inquisition-of-infinity h1 {
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media screen and (max-width:600px) {

    .what-is-esummit h1,
    .inquisition-of-infinity h1 {
        font-size: 34px;
        line-height: 34px;
    }

    .what-is-esummit,
    .inquisition-of-infinity {
        font-size: 14px;
        padding: 20px;
    }
}

/* speakers */
.speakers {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* padding: 0 10%; */
}

.speakers h1 {
    text-transform: uppercase;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background: #9757CF;
    background: linear-gradient(to right, #9757CF 21%, #864AFF 50%, #7A5BCF 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.speakers-container-mobile{
    height: 50vb;
    background-image: url(./images/speakers\ background.png);
    /* background-repeat: repeat-x; */
    background-size: cover;
    padding-top: 25vb;
}

.cutout-box{
    position: relative;
    overflow: hidden;
    height: 50vb;
    bottom: 13rem;
}

#speaker1{
    position: absolute;
    height: 32rem;
    left: 3rem;
    bottom: -10rem;
    
}
#speaker2{
    position: absolute;
    height: 19rem;
    bottom: 0;
    left: -3rem;
}
#speaker3{
    position: absolute;
    height: 22rem;
    right: 5rem;
    bottom: -2rem;
}
#speaker4{
    position: absolute;
    right: -2rem;
    bottom: -5rem;
    height: 21rem;
}

.speakers-images-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.speakers-image-box {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speakers-image-box img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 10px auto;
    -webkit-box-shadow: 10px 10px 24px 2px rgba(209, 119, 209, 0.87), -10px -10px 24px 2px rgba(209, 119, 209, 0.87);
    -moz-box-shadow: 10px 10px 24px 2px rgba(209, 119, 209, 0.87), -10px -10px 24px 2px rgba(209, 119, 209, 0.87);
    box-shadow: 10px 10px 24px 2px rgba(209, 119, 209, 0.87), -10px -10px 24px 2px rgba(209, 119, 209, 0.87);
}

@media screen and (max-width:600px) {
    .speakers-images-box {
        justify-content: space-between;

    }

    .speakers-image-box {
        width: 120px;
        height: 240px;
    }

    .speakers-image-box img {
        width: 120px;
        height: 120px;
        -webkit-box-shadow: 10px 10px 24px 1px rgba(209, 119, 209, 0.87), -10px -10px 24px 1px rgba(209, 119, 209, 0.87);
        -moz-box-shadow: 10px 10px 24px 1px rgba(209, 119, 209, 0.87), -10px -10px 24px 1px rgba(209, 119, 209, 0.87);
        box-shadow: 10px 10px 24px 1px rgba(209, 119, 209, 0.87), -10px -10px 24px 1px rgba(209, 119, 209, 0.87);
    }
}

.speakers-image-box div {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* footer */
.footer {
    background: radial-gradient(50% 44.06% at 50% 0%, rgba(147, 130, 255, .08) 0%, rgba(147, 130, 255, 0) 100%), #030014;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 0 32px;
}

.footer-back-to-top {
    width: 251px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 6px;
    opacity: 0.7099999785423279;
    background: linear-gradient(144deg, rgba(236, 224, 255, 0.70) 0%, rgba(99, 50, 116, 0.00) 100%);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25000px);
    color: #FDFDFD;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.footer-copyright {
    text-align: center;
    color: #a487fa;
}

@media screen and (min-width:750px){
    .footer-text{
        font-size: 30px;
        margin: 10px;
        padding: 10px;
    }
    
    .upper-arrow{
        width: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    button{
        background-color: rgb(3, 0, 20);
        border: 1px solid red;
        border-radius: 6px;
    }
    
    .footer-copyright{
        text-align: center;
    }
    
    .back-to-top{
        justify-content: center;
        display: flex;
        margin: 30px;
        
    }
    
    .social{
        display: flex;
        justify-content: center;
        padding: 0 230px;
        margin: 25px;
    }
    
    .moto{
        display: flex;
        align-items: center;
        border: 2px solid red;
        border-radius: 25px;
        width: max-content;
        backdrop-filter: blur(20px);
        background: radial-gradient(100% 100% at 28.98% 0%, rgb(0 20 255 / 96%) 0%, rgba(255, 255, 255, 0.1) 100%);
        margin: 20px;
        padding: 20px;
    }
    
    .moto-cover{
        box-sizing: border-box;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .image{
        padding: 0 25px;
    }
    
    .contacts{
        display: flex;
        margin: 25px;
        justify-content: center;
        padding: 0 30px;
    }
    
    .contacts750{
        display: none;
    }

    .icon{
        height: 2.4rem;
        width: 2.4rem;
        position: relative;
        margin: 50px 70px;
    }
    
    .address{
        text-align: center;
        font-size: 20px;
        padding: 6px 0;
    }
    
    .email{
        text-decoration: none;
        margin: 50px 40px;
    }
}

@media screen and (max-width:750px){
    .footer-text{
        font-size: 30px;
        margin: 10px;
        padding: 10px;
    }
    
    .upper-arrow{
        width: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    button{
        background-color: rgb(3, 0, 20);
        border: 1px solid red;
        border-radius: 6px;
    }
    
    .footer-copyright{
        text-align: center;
    }
    
    .back-to-top{
        justify-content: center;
        display: flex;
        margin: 30px;
        
    }
    
    .social{
        display: flex;
        justify-content: center;
        padding: 0 100px;
        margin: 25px;
    }
    
    .moto{
        display: flex;
        align-items: center;
        border: 2px solid red;
        border-radius: 25px;
        width: max-content;
        backdrop-filter: blur(20px);
        background: radial-gradient(100% 100% at 28.98% 0%, rgb(0 20 255 / 96%) 0%, rgba(255, 255, 255, 0.1) 100%);
        margin: 20px;
        padding: 20px;
    }
    
    .moto-cover{
        box-sizing: border-box;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .image{
        padding: 0 25px;
    }
    
    .contacts750{
        display: flex;
        flex-direction: column;
    }

    .contacts{
        display: none;
    }
    
    .icon{
        height: 2.4rem;
        width: 2.4rem;
        position: relative;
        margin: 10px 20px;
    }
    
    .address{
        text-align: center;
        font-size: 20px;
        padding: 6px 0;
    }
    
    .email{
        text-decoration: none;
        margin: 50px 40px;
    }
}

